.hero-content-rtl > .row .twm-bnr-left-section {
  margin-left: 0;
  margin-right: auto;
  padding-left: 0;
  padding-right: 20px;
}

.hero-content-rtl .twm-bnr-left-section,
.hero-content-rtl .twm-bnr-title-small,
.hero-content-rtl .twm-bnr-title-large,
.hero-content-rtl .twm-bnr-tagline,
.hero-content-rtl .twm-bnr-search-bar {
  text-align: right;
}

.hero-content-rtl .twm-bnr-search-bar label,
.hero-content-rtl .hero-location-input {
  text-align: right;
}

.hero-content-rtl .twm-bnr-search-bar {
  padding: 5px 15px 5px 5px;
}

.hero-content-rtl .twm-inputicon-box .twm-input-icon {
  left: 15px;
  right: auto;
}

.hero-content-rtl .hero-location-input {
  padding-left: 35px;
  padding-right: 15px;
}

@media (max-width: 1199px) {
  .hero-content-rtl .twm-bnr-search-bar {
    padding: 10px;
  }
}

@media (max-width: 1270px) and (min-width: 992px) {
  .hero-content-rtl > .row .twm-bnr-left-section {
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .hero-content-rtl > .row .twm-bnr-left-section {
    margin: 0 auto;
    padding: 0 30px 50px;
  }
}

.about-content-rtl .twm-millions-1-section-right,
.about-content-rtl .section-head,
.about-content-rtl .twm-read-more {
  text-align: right;
}

.about-content-rtl .twm-read-more {
  direction: rtl;
}

.about-content-rtl .twm-read-more.cplumn-2 a {
  margin-left: 20px;
  margin-right: 0;
}

.about-content-rtl .twm-read-more.cplumn-2 a:last-child {
  margin-left: 0;
}
